<header>
	<h4 class="logo">Give & Go</h4>
	<nav>
    <a href="#">Item 1</a>
    <a href="#">Item 2</a>
    <a href="#">Item 3</a>
	</nav>
</header>
<div class="backgound-image">
  <div class="background-content">
		<h1>
			Editing Sports Footage Sucks.
		</h1>
		<p>Our technology does it for you.</p>
  </div>
</div>
<div id="nav-bg"></div>
<main>
  <div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel diam lacus. Nam quis ipsum nec massa sagittis scelerisque ac non urna. Phasellus posuere orci ac tellus interdum mollis eu vitae mi. Aliquam nec ante lobortis, suscipit lectus eu, dignissim ante. Nam imperdiet quis eros.</p>
			</div>
		</div>
  </div>
</main>
